<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>bKv1Fz52bDrIsqdUZJEUoKRXS</string>
	<key>consumer_Secret</key>
	<string>NaGUOuyhZEJO08z5Kv4I4lCSiqovbKvl0TZgEcxz0q2TQH5yVJ</string>
</dict>
</plist>
